* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}



#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  background-color: #af5fb0;
  color: white;
  width: 100%;
  height:25em;
  justify-content: center;
}

.red {
  background-color: #b05f6d;
  color: white;
  width: 100%;
  height:25em;
}

.blue {
  background-color: #275db3;
  color: white;
  width: 100%;
  height:25em;
}

.yellow{
  background-color: #a7b327;
  color: white;
  width: 100%;
  height:25em;

}

.navbar{
  background-color: rgb(188, 218, 244);

}

.navbar a{  
  display:inline-block;
  padding: 0 0 0 2em;  
  margin-top: 1em;
  margin-bottom:1em;
}


.footer{
  background-color: rgb(188, 218, 244);
  position:fixed;
  width:100%;
}
.footer a{
  display:inline-block;
  margin-top: 1em;
  margin-bottom:1em;
  padding: 0 0 0 2em;  
  text-align:end;
}